@model IEnumerable<MusicStore.Models.Artist>

@{
    ViewData["Title"] = "Index";
}

<h1>Index Artists</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<p>
    Hola
    @foreach (var item in ViewBag.alphabetToSort)
    { 
        <span>
        <a 
            asp-area="Admin"
            asp-controller="Artists" 
            asp-action="Index"
            asp-route-letter="@item">
                @item
        </a> |
        </span>
    }
</p>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ArtistID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ArtistID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ArtistID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
